.bg{
    background-image: url(/Assets/Tabletop.png);
    background-size: cover;
}

.bg2{
    background-image: url(/Assets/DarkNight.png);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 500px;
}

.classText{
    position: absolute;
    margin-left: 70%;
}

.backButton{
    position: absolute;
    margin-top: -23%;
    margin-left: -85%;
    width: 100px;
    height: 50px;
}

.continueButton{
    position: absolute;
    margin-top: -18%;
    margin-left: -85%;
    width: 100px;
    height: 50px;
}

.whiteText{
    color: aliceblue;
}

.diagonal{
margin-left: -15px;
}

.number{
    margin-top: -8px;
    margin-left: 20px;
}

.raceButton{
    position: absolute;
}

.statContainer{
    position: absolute;
    margin-left: 45%;
}